footer {
  position: sticky;
  bottom: 0;
}

span {
  line-height: 1.5 !important;
}

#content:last-child {
  margin-bottom: 1rem;
}

#explainer {
  cursor: pointer;
  color: var(--bs-primary);
  transition: all 0.15s ease-in-out;
}

#explainer:hover {
  color: #0b5ed7;
}
